In [1]:
import pandas as pd

In [12]:
homelessness=pd.read_csv("homeless.csv",index_col=0)

In [13]:
print(homelessness.head())

   family_members  individuals              region       state  state_pop
0           864.0       2570.0  East South Central     Alabama    4887681
1           582.0       1434.0             Pacific      Alaska     735139
2          2606.0       7259.0            Mountain     Arizona    7158024
3           432.0       2280.0  West South Central    Arkansas    3009733
4         20964.0     109008.0             Pacific  California   39461588

In [8]:
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
family_members    51 non-null float64
individuals       51 non-null float64
region            51 non-null object
state             51 non-null object
state_pop         51 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [14]:
print(homelessness.describe())

       family_members    individuals     state_pop
count       51.000000      51.000000  5.100000e+01
mean      3504.882353    7225.784314  6.405637e+06
std       7805.411811   15991.025083  7.327258e+06
min         75.000000     434.000000  5.776010e+05
25%        592.000000    1446.500000  1.777414e+06
50%       1482.000000    3082.000000  4.461153e+06
75%       3196.000000    6781.500000  7.340946e+06
max      52070.000000  109008.000000  3.946159e+07

In [15]:
print(homelessness.values)

[[864.0 2570.0 'East South Central' 'Alabama' 4887681]
 [582.0 1434.0 'Pacific' 'Alaska' 735139]
 [2606.0 7259.0 'Mountain' 'Arizona' 7158024]
 [432.0 2280.0 'West South Central' 'Arkansas' 3009733]
 [20964.0 109008.0 'Pacific' 'California' 39461588]
 [3250.0 7607.0 'Mountain' 'Colorado' 5691287]
 [1696.0 2280.0 'New England' 'Connecticut' 3571520]
 [374.0 708.0 'South Atlantic' 'Delaware' 965479]
 [3134.0 3770.0 'South Atlantic' 'District of Columbia' 701547]
 [9587.0 21443.0 'South Atlantic' 'Florida' 21244317]
 [2556.0 6943.0 'South Atlantic' 'Georgia' 10511131]
 [2399.0 4131.0 'Pacific' 'Hawaii' 1420593]
 [715.0 1297.0 'Mountain' 'Idaho' 1750536]
 [3891.0 6752.0 'East North Central' 'Illinois' 12723071]
 [1482.0 3776.0 'East North Central' 'Indiana' 6695497]
 [1038.0 1711.0 'West North Central' 'Iowa' 3148618]
 [773.0 1443.0 'West North Central' 'Kansas' 2911359]
 [953.0 2735.0 'East South Central' 'Kentucky' 4461153]
 [519.0 2540.0 'West South Central' 'Louisiana' 4659690]
 [1066.0 1450.0 'New England' 'Maine' 1339057]
 [2230.0 4914.0 'South Atlantic' 'Maryland' 6035802]
 [13257.0 6811.0 'New England' 'Massachusetts' 6882635]
 [3142.0 5209.0 'East North Central' 'Michigan' 9984072]
 [3250.0 3993.0 'West North Central' 'Minnesota' 5606249]
 [328.0 1024.0 'East South Central' 'Mississippi' 2981020]
 [2107.0 3776.0 'West North Central' 'Missouri' 6121623]
 [422.0 983.0 'Mountain' 'Montana' 1060665]
 [676.0 1745.0 'West North Central' 'Nebraska' 1925614]
 [486.0 7058.0 'Mountain' 'Nevada' 3027341]
 [615.0 835.0 'New England' 'New Hampshire' 1353465]
 [3350.0 6048.0 'Mid-Atlantic' 'New Jersey' 8886025]
 [602.0 1949.0 'Mountain' 'New Mexico' 2092741]
 [52070.0 39827.0 'Mid-Atlantic' 'New York' 19530351]
 [2817.0 6451.0 'South Atlantic' 'North Carolina' 10381615]
 [75.0 467.0 'West North Central' 'North Dakota' 758080]
 [3320.0 6929.0 'East North Central' 'Ohio' 11676341]
 [1048.0 2823.0 'West South Central' 'Oklahoma' 3940235]
 [3337.0 11139.0 'Pacific' 'Oregon' 4181886]
 [5349.0 8163.0 'Mid-Atlantic' 'Pennsylvania' 12800922]
 [354.0 747.0 'New England' 'Rhode Island' 1058287]
 [851.0 3082.0 'South Atlantic' 'South Carolina' 5084156]
 [323.0 836.0 'West North Central' 'South Dakota' 878698]
 [1744.0 6139.0 'East South Central' 'Tennessee' 6771631]
 [6111.0 19199.0 'West South Central' 'Texas' 28628666]
 [972.0 1904.0 'Mountain' 'Utah' 3153550]
 [511.0 780.0 'New England' 'Vermont' 624358]
 [2047.0 3928.0 'South Atlantic' 'Virginia' 8501286]
 [5880.0 16424.0 'Pacific' 'Washington' 7523869]
 [222.0 1021.0 'South Atlantic' 'West Virginia' 1804291]
 [2167.0 2740.0 'East North Central' 'Wisconsin' 5807406]
 [205.0 434.0 'Mountain' 'Wyoming' 577601]]

In [16]:
print(homelessness.columns)

Index(['family_members', 'individuals', 'region', 'state', 'state_pop'], dtype='object')

In [18]:
print(homelessness.index)

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

In [19]:
homelessness.shape

(51, 5)

In [21]:
print(homelessness.head())

   family_members  individuals              region       state  state_pop
0           864.0       2570.0  East South Central     Alabama    4887681
1           582.0       1434.0             Pacific      Alaska     735139
2          2606.0       7259.0            Mountain     Arizona    7158024
3           432.0       2280.0  West South Central    Arkansas    3009733
4         20964.0     109008.0             Pacific  California   39461588

In [24]:
homelessness=homelessness.sort_values("individuals")

In [25]:
print(homelessness.head())

    family_members  individuals              region         state  state_pop
50           205.0        434.0            Mountain       Wyoming     577601
34            75.0        467.0  West North Central  North Dakota     758080
7            374.0        708.0      South Atlantic      Delaware     965479
39           354.0        747.0         New England  Rhode Island    1058287
45           511.0        780.0         New England       Vermont     624358

In [27]:
homelessness_fam=homelessness.sort_values("family_members",ascending=False)

In [28]:
print(homelessness_fam.head())

    family_members  individuals              region          state  state_pop
32         52070.0      39827.0        Mid-Atlantic       New York   19530351
4          20964.0     109008.0             Pacific     California   39461588
21         13257.0       6811.0         New England  Massachusetts    6882635
9           9587.0      21443.0      South Atlantic        Florida   21244317
43          6111.0      19199.0  West South Central          Texas   28628666

In [33]:
homelessness_reg_fam=homelessness.sort_values(["region","family_members"],ascending=[True,False])

In [34]:
print(homelessness_reg_fam.head())

    family_members  individuals              region      state  state_pop
13          3891.0       6752.0  East North Central   Illinois   12723071
35          3320.0       6929.0  East North Central       Ohio   11676341
22          3142.0       5209.0  East North Central   Michigan    9984072
49          2167.0       2740.0  East North Central  Wisconsin    5807406
14          1482.0       3776.0  East North Central    Indiana    6695497

In [36]:
individuals=homelessness["individuals"]

In [37]:
print(individuals.head())

50    434.0
34    467.0
7     708.0
39    747.0
45    780.0
Name: individuals, dtype: float64

In [40]:
state_fam=homelessness[["state","family_members"]]

In [41]:
print(state_fam.head())

           state  family_members
50       Wyoming           205.0
34  North Dakota            75.0
7       Delaware           374.0
39  Rhode Island           354.0
45       Vermont           511.0

In [42]:
print(homelessness.head())

    family_members  individuals              region         state  state_pop
50           205.0        434.0            Mountain       Wyoming     577601
34            75.0        467.0  West North Central  North Dakota     758080
7            374.0        708.0      South Atlantic      Delaware     965479
39           354.0        747.0         New England  Rhode Island    1058287
45           511.0        780.0         New England       Vermont     624358

In [45]:
ind_gt_10k=homelessness[homelessness["individuals"]>10000]

In [46]:
print(ind_gt_10k)

    family_members  individuals              region       state  state_pop
37          3337.0      11139.0             Pacific      Oregon    4181886
47          5880.0      16424.0             Pacific  Washington    7523869
43          6111.0      19199.0  West South Central       Texas   28628666
9           9587.0      21443.0      South Atlantic     Florida   21244317
32         52070.0      39827.0        Mid-Atlantic    New York   19530351
4          20964.0     109008.0             Pacific  California   39461588

In [61]:
homelessness[homelessness["region"]=="Mountain"]

    family_members  individuals    region       state  state_pop
50           205.0        434.0  Mountain     Wyoming     577601
26           422.0        983.0  Mountain     Montana    1060665
12           715.0       1297.0  Mountain       Idaho    1750536
44           972.0       1904.0  Mountain        Utah    3153550
31           602.0       1949.0  Mountain  New Mexico    2092741
28           486.0       7058.0  Mountain      Nevada    3027341
2           2606.0       7259.0  Mountain     Arizona    7158024
5           3250.0       7607.0  Mountain    Colorado    5691287

In [54]:
homelessness[(homelessness["family_members"]<1000) & (homelessness["region"]=="pacific")]

Empty DataFrame
Columns: [family_members, individuals, region, state, state_pop]
Index: []

In [56]:
print(homelessness.head())

    family_members  individuals              region         state  state_pop
50           205.0        434.0            Mountain       Wyoming     577601
34            75.0        467.0  West North Central  North Dakota     758080
7            374.0        708.0      South Atlantic      Delaware     965479
39           354.0        747.0         New England  Rhode Island    1058287
45           511.0        780.0         New England       Vermont     624358

In [63]:
homelessness[(homelessness["region"]=="South Atlantic") | (homelessness["region"]=="Mid-Atlantic")]

,family_members,individuals,region,state,state_pop
7,374.0,708.0,South Atlantic,Delaware,965479
48,222.0,1021.0,South Atlantic,West Virginia,1804291
40,851.0,3082.0,South Atlantic,South Carolina,5084156
8,3134.0,3770.0,South Atlantic,District of Columbia,701547
46,2047.0,3928.0,South Atlantic,Virginia,8501286
20,2230.0,4914.0,South Atlantic,Maryland,6035802
30,3350.0,6048.0,Mid-Atlantic,New Jersey,8886025
33,2817.0,6451.0,South Atlantic,North Carolina,10381615
10,2556.0,6943.0,South Atlantic,Georgia,10511131
38,5349.0,8163.0,Mid-Atlantic,Pennsylvania,12800922
9,9587.0,21443.0,South Atlantic,Florida,21244317
32,52070.0,39827.0,Mid-Atlantic,New York,19530351

In [65]:
canu=["California","Arizona","Nevada","Utah"]

In [95]:
homelessness[homelessness["state"].isin(canu)]

,family_members,individuals,region,state,state_pop,total,p_individuals,indiv_per_10k
44,972.0,1904.0,Mountain,Utah,3153550,2876.0,0.662031,6.037640
28,486.0,7058.0,Mountain,Nevada,3027341,7544.0,0.935578,23.314189
2,2606.0,7259.0,Mountain,Arizona,7158024,9865.0,0.735834,10.141067
4,20964.0,109008.0,Pacific,California,39461588,129972.0,0.838704,27.623825

In [73]:
homelessness["total"]=homelessness["individuals"] + homelessness["family_members"]

In [74]:
homelessness.head()

,family_members,individuals,region,state,state_pop,total
50,205.0,434.0,Mountain,Wyoming,577601,639.0
34,75.0,467.0,West North Central,North Dakota,758080,542.0
7,374.0,708.0,South Atlantic,Delaware,965479,1082.0
39,354.0,747.0,New England,Rhode Island,1058287,1101.0
45,511.0,780.0,New England,Vermont,624358,1291.0

In [75]:
homelessness["p_individuals"]=homelessness["individuals"]/homelessness["total"]

In [76]:
homelessness.head()

,family_members,individuals,region,state,state_pop,total,p_individuals
50,205.0,434.0,Mountain,Wyoming,577601,639.0,0.679186
34,75.0,467.0,West North Central,North Dakota,758080,542.0,0.861624
7,374.0,708.0,South Atlantic,Delaware,965479,1082.0,0.654344
39,354.0,747.0,New England,Rhode Island,1058287,1101.0,0.678474
45,511.0,780.0,New England,Vermont,624358,1291.0,0.604183

In [77]:
homelessness["Sanjay"]=1

In [78]:
homelessness.head()

,family_members,individuals,region,state,state_pop,total,p_individuals,Sanjay
50,205.0,434.0,Mountain,Wyoming,577601,639.0,0.679186,1
34,75.0,467.0,West North Central,North Dakota,758080,542.0,0.861624,1
7,374.0,708.0,South Atlantic,Delaware,965479,1082.0,0.654344,1
39,354.0,747.0,New England,Rhode Island,1058287,1101.0,0.678474,1
45,511.0,780.0,New England,Vermont,624358,1291.0,0.604183,1

In [83]:
homelessness=homelessness.drop("Sanjay",axis=1)

In [84]:
homelessness.head()

,family_members,individuals,region,state,state_pop,total,p_individuals
50,205.0,434.0,Mountain,Wyoming,577601,639.0,0.679186
34,75.0,467.0,West North Central,North Dakota,758080,542.0,0.861624
7,374.0,708.0,South Atlantic,Delaware,965479,1082.0,0.654344
39,354.0,747.0,New England,Rhode Island,1058287,1101.0,0.678474
45,511.0,780.0,New England,Vermont,624358,1291.0,0.604183

In [86]:
homelessness["indiv_per_10k"]=10000* homelessness["individuals"]/homelessness["state_pop"]

In [87]:
homelessness.head()

,family_members,individuals,region,state,state_pop,total,p_individuals,indiv_per_10k
50,205.0,434.0,Mountain,Wyoming,577601,639.0,0.679186,7.513837
34,75.0,467.0,West North Central,North Dakota,758080,542.0,0.861624,6.160300
7,374.0,708.0,South Atlantic,Delaware,965479,1082.0,0.654344,7.333148
39,354.0,747.0,New England,Rhode Island,1058287,1101.0,0.678474,7.058577
45,511.0,780.0,New England,Vermont,624358,1291.0,0.604183,12.492833

In [89]:
high_homelessness=homelessness[homelessness["indiv_per_10k"]>20]

In [90]:
high_homelessness_srt=high_homelessness.sort_values("indiv_per_10k",ascending=False)

In [93]:
result=high_homelessness_srt[["state","indiv_per_10k"]]

In [94]:
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363