# Variables 
Variables hold values. Python lets you create variables simply by assigning a value to the variable, without the need to declare the variable upfront. The value assigned to a variable determines the variable type. Different types may support some operations which others don't.

If you enter *one = 1* in the Python interpreter and hit "Enter", the interpreter will just show you a new line prompt.

In [ ]:
one = 1

It did not show anything, right. But Python actually did a few things:

A variable named one was created. The value 1 was assigned to the variable one.

This is not apparent from the blank line output. But the interpreter can show you the value of any variable if you just type the variable name and hit enter:

In [ ]:
one

1

Q1. Create a variable "length", "breath" and "height" with values 10, 15, 30 consecutively. (2 marks)

Q2. Create a variable "volume" and find the volume of cuboid using the above variabels. Formula to find volume of cuboid is (vol = length * breath * height) (2 marks)

In [2]:
## 1. Start code here
length, breadth, height = 10,15,30
## End code here

In [3]:
## 2. Start code here
vol = print(length*breadth*height)
## End code here

4500

# Multiple Assignment
Python allows you to assign a single value to several variables simultaneously. For example -

In [ ]:
a = b = c = 1

Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location. You can also assign multiple objects to multiple variables. For example âˆ’

In [ ]:
a,b,c = 1,2,"john"

Q1. Create multiple variables ,i.e ("a", "b", "c") and store the value 10 in it and print any of its variable . (2 marks)

Q2. Create a variable ("x","y", "z") and store the value "Height", "is", "6feet" consecutively in it and print any of its stored value. (2 marks)

In [4]:
## 1. Start code here
a=b=c=10
## End code here

In [5]:
## 2. Start code here
x,y,z = "Height", "is", "6feet"
## End code here

# Python Types
Python tracks the value of a variable by letting you access it via the variable name. Python also tracks the type of the value assigned to a variable. To tell what the value type is, you can use the built-in **type()** function. In the following examples, we use the **type()** function to display the value type:

In [ ]:
x = 42
print(type(x))

<class 'int'>

Q1. Create a variable "types" and store the value "10.5" in it and find its type. (2 marks)

Q2. Create a variable "x" and store the value "False" in it and find the its type. (2 marks)

Q3. Create a variable "z" and store the value "Happy Learning" in it and find the its type. (2 marks)

In [6]:
## 1. Start code here
types=10.5
type(types)
## End code here

float

In [7]:
## 2. Start code here
x=False
type(x)
## End code here

bool

In [8]:
## 3. Start code here
z= "Happy Learning"
type(z)
## End code here

str

# Python List and types
The list type is a container that holds a number of other objects, in a given order. The list type implements the sequence protocol, and also allows you to add and remove objects from the sequence.

Q1. Create a list which contains name and height from the given data. [ Name: (Frenky, Noob, Rolly, Julie) and Height: (5.5, 5.8, 5.2, 6)]. (2 marks)

Q2. Show the type of list you just created in Q1. (1 marks)

Q3. Create a list containing values [1, 5 ,7 and 8] and sum all the items in the list. (2 marks)
    
Q4. Show the type of the list you just created in Q2. (1 marks)

In [10]:
## 1. Start code here
Name = ['Frenky', 'Noob', 'Rolly', 'Julie']
Height = [5.5, 5.8, 5.2, 6]
name_height_list = list(zip(Name, Height))
## End code here

In [11]:
## 2. Start code here
type(name_height_list)
## End code here

list

In [20]:
## 3. Start code here
list1 = [1,5,7,8]
sum=[0]
for i in list1:
  sum[0]=i+sum[0]

print(sum)
## End code here

[21]

In [21]:
## 4. Start code here
type(sum)
## End code here

list