# List Comprehensions

>## Objective: 

To understand the working of lists comprehensions and implement it using five different examples

### List comprehensions

List comprehensions are used for creating new lists from other iterables.

As list comprehensions return lists, they consist of brackets containing the expression, which is executed for each element along with the `for loop` to iterate over each element.

The basic syntax is :

     new_list = [expression for_loop_one_or_more conditions]

where , 

**new_list** : The resulting list.

**expression** : The operation performed whenever an element fulfills the given condition. The result of this expression is stored in **new_list**

**for element** in old_list : Iterates over each element in old_list

**if condition** : Apply a condition using an If-statement.

<img src="https://4.bp.blogspot.com/-uRPZqKbIGwQ/XRtgWhC6qqI/AAAAAAAAH0w/--oGnwKsnpo00GwQgH2gV3RPwHwK8uONgCLcBGAs/s1600/comprehension.PNG">

This is very similar to the set builder form in mathematics,

**In Set-Builder Forms** :

- { x^2: x is a natural number less than 10 }
- { x: x is a whole number less than 20, x is even }
- { x: x is an alphabet in word ‘MATHEMATICS’, x is a vowel }

In [ ]:
# The same thing when coded as Lists Comprehensions would be : 

list1 = [x^2 for x in range(0,10)]
list2 = [x for x in range(1,20) if x%2==0]
list3 = [x for x in 'MATHEMATICS' if x in ['A','E','I','O','U']]

print(list1)
print(list2)
print(list3)

[2, 3, 0, 1, 6, 7, 4, 5, 10, 11]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
['A', 'E', 'A', 'I']

Now that the syntax and working is understood. you'll implement it with the help of examples to get a good grip on this. Lists comprehensions when used properly is a very powerful tool which saves both computing time and amount of code written

### Example 1 : 

To print the common numbers between two lists L1 and L2

**NOTE** : The syntax can be written as :

     [ output_expression() for(set of values to iterate) if(conditional filtering) ]

**TASK 1 : Given L1 and L2 , find the common elements using `for` loop (2 marks)**

In [1]:

L1 = [1, 2, 3, 4]
L2 = [2, 3, 4, 5]

## Remember to create an empty list first ,  in which you'll append the values
common_no = []

### START CODE HERE
for no in L1:
  if no in L2:
    common_no.append(no)
print(common_no)
### END CODE

[2, 3, 4]

**TASK 2 : Now try the same thing with List Comprehensions (2 marks)**

In [15]:
### START CODE HERE : (~1 Line of code)
common_numbers = [no for no in L1 if no in L2]
print(common_numbers)
### END CODE

[2, 3, 4]

**Analyse how convenient list comprehensions is compared to writing functions both in simplicity and computational time**

### Example 2 :

To print squares of even numbers and cubes of odd numbers from a list `L = [1,2,3,4,5,6,7,8,9,10]`

**TASK 3 : Create the list `L` given above using list comprehensions and range function (2 marks)**

In [13]:
### START CODE HERE : (~1 line of code)
L = [no for no in range(1,11)]
print(L)
### END CODE

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**TASK 4 : Create a `for` loop and `if` condition to accomplish the task on the above created list (2 marks)**

In [16]:
## Remember to create an empty list first ,  in which you'll append the values
output_number = []

### START CODE HERE  :
for no in range(1,11):
  if no%2==0:
    no_sq = no**2
    output_number.append(no_sq)
  else:
    no_cube = no**3
    output_number.append(no_cube)
print(output_number)
### END CODE

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

**TASK 5 : Accomplish the same task using List Comprehensions (2 marks)**

In [10]:
### START CODE HERE : (~1 Line of code)
output_number = [no**2 if no%2==0 else no**3 for no in range(1,11) ]
print(output_number)
### END CODE

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

### Example 3 :

> #### Tuples

To print out all ordered pairs between two lists as tuples. Use previously defined L1 and L2 for this

**TASK 6 : Print out all odered pairs between L1 and L2 i.e (a,b) where a belongst to L1 and b to L2 (Cartesian Product) as tuples using comprehension (2 marks)**

In [33]:
L1 = [1, 2, 3, 4]
L2 = [2, 3, 4, 5]

### START CODE HERE : (~1 Line of code)
ordered_pairs =  print(tuple(zip(L1, L2)))
### END CODE

((1, 2), (2, 3), (3, 4), (4, 5))

**Finally its imperative to understand that lists comprehensions is not only valid for lists but can also be used elsewhere, The below examples would give a better understanding of it**

### Example 4 :

> #### Dictionaries

**TASK 7 : Use lists `L_country` and `L_capital` to create a `dictionary` having L_country as keys and L_capital as values using comprehensions (2 marks)**

In [35]:
L_country = ['India', 'Pakistan', 'Nepal', 'Bhutan', 'China', 'Bangladesh']
L_capital = ['New Delhi', 'Islamabad','Kathmandu', 'Thimphu', 'Beijing', 'Dhaka']

### START CODE HERE : (~1 Line of code)
dictionary = print(dict(zip(L_country, L_capital)))
### END CODE

{'India': 'New Delhi', 'Pakistan': 'Islamabad', 'Nepal': 'Kathmandu', 'Bhutan': 'Thimphu', 'China': 'Beijing', 'Bangladesh': 'Dhaka'}

### Example 5 :

> #### Strings

Comprehensions can also be used to conveniently perform operations on strings

**TASK 8: Do the following operations on string elements of a list `planets` using a single line of code/comprehension and then print the changed elements (3 marks)**

**If planet's name length is less than 6 then ,**
- Capitalise the whole word , using '.upper()'
- Add '!' at the end of the word 

eg. venus should be 'VENUS!'

In [39]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### START CODE HERE : (~1 Line of code)
planet_name = [print(planet.upper()+'!') for planet in planets if len(planet)<6]
### END CODE

VENUS!
EARTH!
MARS!

#### Transpose of Matrix using Nested Loops

**TASK 9 : Do the following operation on transpose of a 2 row and 4 column matrix using a lines of comprehension and
then print the changed elements.(3 marks)**

Transpose 2 row X 4 column matrix into 4 row X 2 columns

In [46]:
transposed = [[0,0],
              [0,0],
              [0,0],
              [0,0]]
matrix = [[1, 2, 3, 4], 
          [4, 5, 6, 8]]

### START CODE HERE :
for i in range(len(matrix)):
  #print(i)
  # iterate through columns
  for j in range(len(matrix[0])):
    #print(j)
    transposed[j][i] = matrix[i][j]

for r in transposed:
  print(r)
### END CODE

[1, 4]
[2, 5]
[3, 6]
[4, 8]

## Conclusion: 

Understand the usefulness and different applications of lists comprehensions